.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 150px;
  justify-content: center;
  &__brand {
    height: 50px;
    width: 450px;
    background-size: 114px;
  }
  &__mainLogo {
    background-repeat: no-repeat;
    padding-left: 100px;
    margin-left: 200px;
    margin-bottom: 50px;
  }
  &-nav {
    padding-right: 150px;
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      }
      .profile-icon {
        background-image: image-url("parts3.png");
        margin-bottom: 20px;
      }
    }
  }
  .btn-primary{
    margin-bottom: 20px;
  }
}
body {
  background-color: #e74c3c;
  animation: bg-color 10s infinite;
  -webkit-animation: bg-color 10s infinite;
}
.container_main{
  // background-color: #A7F1FF;
  @-webkit-keyframes bg-color {
    0% { background-color: #e74c3c; }
    20% { background-color: #f1c40f; }
    40% { background-color: #1abc9c; }
    60% { background-color: #3498db; }
    80% { background-color: #9b59b6; }
    100% { background-color: #e74c3c; }
  }
  @keyframes bg-color {
    0% { background-color: #e74c3c; }
    20% { background-color: #f1c40f; }
    40% { background-color: #1abc9c; }
    60% { background-color: #3498db; }
    80% { background-color: #9b59b6; }
    100% { background-color: #e74c3c; }
  }
}


